!!! 5
html(lang="fr")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel="stylesheet" href="css/isisviewer.css")
        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
        script(type="text/javascript" src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js")
        script(type="text/javascript" src="js/jquery.nicescroll.min.js")
        script(type="text/javascript" src="js/isisviewer.js")
    body
        div(data-role='page' data-theme='b')
            div(data-role="header" data-position="fixed" data-tap-toggle="false")
                h2 Jean DUPONT 15/08/1961 ♂
                    
                    
                a(data-role="button") Back
                div.ui-btn-right(data-role="controlgroup" data-type="horizontal" data-mini="true")
                    a.btntoolbar(data-role="button" id="nofunction")   
                    a.btntoolbar(data-role="button" id="lightcontr"): i.fa.fa-adjust
                    a.btntoolbar(data-role="button" id="magniglass"): i.fa.fa-search-plus
                    // a.btntoolbar(data-role="button" id="zoom"): i.fa.fa-expand
                    a(data-role="button" id="grid" href="#viewsettings" data-rel="popup" data-position-to="window" data-transition="fade"): i.fa.fa-th
                    // Config popup
                    div#viewsettings(data-role="popup" data-overlay-theme="b" style="width:400px;height:400px;")
                        div.ui-content(data-role="header")
                            p Affichage
                        div(data-role="content")
                            fieldset(data-role="controlgroup" data-type="horizontal")
                                input#radio-choice-1(type='radio', name='radio-choice-1', value='choice-1', checked='checked')
                                label(for='radio-choice-1') 1X1
                                input#radio-choice-2(type='radio', name='radio-choice-1', value='choice-2')
                                label(for='radio-choice-2') 2X1
                                input#radio-choice-3(type='radio', name='radio-choice-1', value='choice-3')
                                label(for='radio-choice-3') 3X1
                                input#radio-choice-4(type='radio', name='radio-choice-1', value='choice-4')
                                label(for='radio-choice-4') 2X2
                                input#radio-choice-5(type='radio', name='radio-choice-1', value='choice-6')
                                label(for='radio-choice-5') 3X2
                                input#radio-choice-6(type='radio', name='radio-choice-1', value='choice-8')
                                label(for='radio-choice-6') 4X2
                                input#radio-choice-7(type='radio', name='radio-choice-1', value='choice-9')
                                label(for='radio-choice-7') 3X3
                                input#radio-choice-8(type='radio', name='radio-choice-1', value='choice-12')
                                label(for='radio-choice-8') 4X3
                                input#radio-choice-9(type='radio', name='radio-choice-1', value='choice-16')
                                label(for='radio-choice-9') 4X4

                            p Ajusté/100%
                            
                            p Synchronisation scroll

                            p Compairaison

                            
            div(data-role="content")
                div#frame1.imageframe.splitting_2-1
                    img(src="img/c/c1.jpg")
                div#frame2.imageframe.splitting_2-2
                    img(src="img/c/c4.jpg")
                // div#frame3.imageframe.splitting_4-3
                //     img(src="img/c/c3.jpg")
                // div#frame4.imageframe.splitting_4-4
                //     img(src="img/c/c4.jpg")
            div(data-role="footer" data-position="fixed" data-tap-toggle="false")
                div.minilist
                    div.minilisttodiv
                        div.minidiv
                            img(src="img/c/c1.jpg")
                        div.minidiv
                            img(src="img/c/c2.jpg")
                        div.minidiv
                            img(src="img/c/c3.jpg")
                        div.minidiv
                            img(src="img/c/c4.jpg")
            