!!! 5
html(lang="fr")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel="stylesheet" href="css/isisviewer.css")
        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
        script(type="text/javascript" src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js")
        script(type="text/javascript" src="js/jquery.nicescroll.min.js")
        script(type="text/javascript" src="js/isisviewer.js")
    body
        div#page(data-role='page' data-theme='b')
            div(data-role="header" data-position="fixed" data-tap-toggle="false")
                h2 Jean DUPONT 15/08/1961 ♂
                div.ui-btn-left(data-role="controlgroup" data-type="horizontal" data-mini="true")
                    a(data-role="button" ): i.fa.fa-bars
                    a(data-role="button"): i.fa.fa-print
                    a(data-role="button" href="#viewsettings" data-rel="popup" data-position-to="window" data-transition="fade"): i.fa.fa-plus


                div.ui-btn-right(data-role="controlgroup" data-type="horizontal" data-mini="true")
                    a.btntoolbar(data-role="button" id="nofunction")   
                    a.btntoolbar(data-role="button" id="lightcontr"): i.fa.fa-adjust
                    a.btntoolbar(data-role="button" id="magniglass"): i.fa.fa-search-plus
                    // data-native-menu="true" cause on click trouble !!!
                    select#gridchoice(name="select-choice-1" data-icon="false" data-native-menu="true")
                        option(value="auto") Auto
                        option(value="11") 1
                        option(value="12") 2
                        option(value="13") 3
                        option(value="22") 4
                        option(value="23") 6
                        option(value="24") 8
                        option(value="33") 9
                        option(value="34") 12
                        option(value="35") 15
                        option(value="44") 16
                        option(value="45") 20
                        option(value="55") 25
                    // Config popup
                    div#viewsettings(data-role="popup" data-overlay-theme="b" style="width:400px;height:400px;")
                        div.ui-content(data-role="header")
                            p Option
                        div(data-role="content")
                       
                            p Ajusté/100%
                            
                            p Mag zoom
                            
                            p Maximum d'image en auto
                            
                            p reset comparaison

                            
            div(data-role="content")
                div#frames
                    div#mag

                    div#frame11.imageframe
                        img(src="img/c/c1.jpg")
                    div#frame12.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame13.imageframe
                        img(src="img/c/c3.jpg")
                    div#frame14.imageframe
                        img(src="img/c/c3.jpg")
                    div#frame15.imageframe
                        img(src="img/c/c3.jpg")
                    div#frame21.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame22.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame23.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame24.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame25.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame31.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame32.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame33.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame34.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame35.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame41.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame42.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame43.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame44.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame45.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame51.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame52.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame53.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame54.imageframe
                        img(src="img/c/c4.jpg")
                    div#frame55.imageframe
                        img(src="img/c/c4.jpg")
                    
            div(data-role="footer" data-position="fixed" data-tap-toggle="false")
                div.minilist
                    div.minilisttodiv
                        div.minidiv
                            img(src="img/c/c1.jpg")
                        div.minidiv
                            img(src="img/c/c2.jpg")
                        div.minidiv
                            img(src="img/c/c3.jpg")
                        div.minidiv
                            img(src="img/c/c4.jpg")
            